@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('node_modules/@egjs/vue-flicking/dist/flicking.css');

// Custon theme bootstrap
$font-family-sans-serif: 'Montserrat', sans-serif;

// Importa Bootstrap completo
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import '~bootstrap-vue/src/icons.scss';

:root {
  --yellow: #fed616;
  --yellow-100: #ffd310;
  --purple-100: #7b07d6;
  --purple-blue: #2a0f82;
  --blue: #4bd4fe;
  --pink: #fe99d3;
  --pink-100: #f7134d;
}

body {
  background: #0c0b0d;
}

ul,
li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}